@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: Inter;
  background-color: #000000;
  color: #e5e5e5;
  overflow-y: hidden;
  overflow-x: hidden;
  overflow-x: hidden;
  scrollbar-face-color: #646464;
  scrollbar-base-color: #646464;
  scrollbar-3dlight-color: #646464;
  scrollbar-highlight-color: #646464;
  scrollbar-track-color: #000;
  scrollbar-arrow-color: #000;
  scrollbar-shadow-color: #646464;
}
body {
  position: relative;
  margin: 0px;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}
input[type="range"] {
  height: 16px;
  -webkit-appearance: none;
  background-color: #121212;
  margin: 10px 0;
  width: 70%;
}
input[type="range"]:focus {
  background-color: #121212;
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #121212;
  background-color: #e5e5e5;
  border-radius: 20px;
  border: 0px solid #010101;
}
input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  background-color: #e5e5e5;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  /* background: #E9C46A; */
  cursor: pointer;
  /* -webkit-appearance: none; */
  margin-top: -8px;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background-color: #121212;
  background: #e5e5e5;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 3px;
  background-color: #121212;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #e5e5e5;
  border-radius: 20px;
  border: 0px solid #010101;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  /* background: #E9C46A; */
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  background-color: #121212;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: #121212;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: #121212;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001e;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  /* background: #E9C46A; */
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #e5e5e5;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #e5e5e5;
}

::-webkit-scrollbar {
  width: 8px;
  height: 3px;
}
::-webkit-scrollbar-button {
  display: none;
  background-color: #666;
}
::-webkit-scrollbar-track {
  background-color: #646464;
}
::-webkit-scrollbar-track-piece {
  background-color: #000;
}
::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #666;
  border-radius: 3px;
}
::-webkit-scrollbar-corner {
  background-color: #646464;
}
::-webkit-resizer {
  background-color: #666;
}
/* .top-text {
  font-size: 10vw;
  font-weight: 600;
  margin-bottom: 4vh;
}

.button {
  text-decoration: none;
  background-color: #000;
  color: #E5E5E5;
  font-size: 4vw;
  font-weight: 800;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 8vw;
  padding-right: 8vw;
  border: 0 solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, .5);
  outline-offset: 0px;
  text-shadow: none;
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}
.button:hover {
  border: 1px solid;
  box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388; 
}
.container {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}
.home-container {
  position: fixed;
  top: 35vh;
  left: 50vw;
  transform: translate(-50%, -50%);
}
.canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -999;
}
.play-screen {
  display:flex;
  justify-content: left;
  margin: 0;
}
@media screen  and (max-width: 450) {
  
.canvas-left {
  width: 70%;
}
}
.settings {
  background-color: #121212;
  border-radius: 35px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 100%;
  // transform:translate(100%);
}
.settings-title {
  font-size: 4vw;
  font-weight: 700;
  margin: 10px;
}
hr {
  color:#E5E5E5;
  width: 75%;
  margin-bottom: 10px;
}
.slider-text {
  font-size: max(1.5vw, 1.5vh);
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
}
input[type=range] {
  height: 16px;
  -webkit-appearance: none;
  background-color: #121212;
  margin: 10px 0;
  width: 70%;
}
input[type=range]:focus {
  background-color: #121212;
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #121212;
  background-color: #e5e5e5;
  border-radius: 20px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000031;
  background-color: #e5e5e5;
  border: 0px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #E9C46A;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -8px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background-color: #121212;
  background: #e5e5e5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 3px;
  background-color: #121212;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: #e5e5e5;
  border-radius: 20px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #E9C46A;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 3px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  background-color: #121212;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #121212;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-fill-upper {
  background: #121212;
  border: 0px solid #010101;
  border-radius: 40px;
  box-shadow: 0px 0px 0px #000000;
}
input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 0px #000031;
  border: 0px solid #00001E;
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background: #E9C46A;
  cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
  background: #e5e5e5;
}
input[type=range]:focus::-ms-fill-upper {
  background: #e5e5e5;
}

.left-range, .right-range {
  display: inline-block;
  width: 30px;
  padding: 1px;
  text-align: center;

}
.left-range {
  color: #2A9D8F;
}
.right-range {
  color: #E76F51; 
}
#red-too {
  color: #E76F51;
}
.slider-settings > * {
  vertical-align: middle;
}

.reset-button {
  color: #e5e5e5;
  background-color: #2f2f2f;
  border-radius: 8px;
  margin-bottom: 20px;
  font-size: max(1vw, 1vh);
}

.settings-button > img {
  filter: invert(97%) sepia(70%) saturate(0%) hue-rotate(234deg) brightness(113%) contrast(86%);
  outline: none;
  width: max(3vw, 3vh);
}
.settings-button {
  justify-content: center;
  background-color: rgba(0, 0, 0, 0);
  outline: none;
  margin: 10px;
  outline-style: none;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0);
  transition: all 0.5s cubic-bezier(0.47, 0, 0.745, 0.715);
}
.settings-button:hover {
  cursor: pointer;
  -webkit-filter: invert(49%) sepia(82%) saturate(1121%) hue-rotate(331deg) brightness(100%) contrast(82%);
  -moz-filter: invert(49%) sepia(82%) saturate(1121%) hue-rotate(331deg) brightness(100%) contrast(82%);
  filter: invert(49%) sepia(82%) saturate(1121%) hue-rotate(331deg) brightness(100%) contrast(82%);
}
.entire-settings-closed {
  position: absolute;
  display:flex;
  top: 0;
  right: -18vw;
}
@media screen and (max-width: 1240px) {
  .entire-settings-closed {
    position: absolute;
    display:flex;
    top: 0;
    right: -227px;
  }
}
.entire-settings-open {
  position: absolute;
  display:flex;
  top: 0;
  right: 0;

}

.links {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom:0;
  left:50%;
  transform: translateX(-50%);
}
.link {
  color: #E5E5E5;
  height: min-content;
  max-height: fit-content;
  margin: 10px;
}
.links > p {
  margin: 10px;
} */
